

<%= form_for(@user) do |f| %>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>



  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group">
    <%=  f.label :Name %>
    <%= f.text_field :Name,  class: "form-control" , autofocus: true %>
  </div>

  <div class="form-group">
    <%=  f.label :UserName %>
    <%= f.text_field :UserName,  class: "form-control" , autofocus: true %>
  </div>

  <div class="form-group">
    <%=  f.label :CIN %>
    <%= f.text_field :CIN,  class: "form-control" , autofocus: true %>
  </div>

  <div class="form-group">
    <%=  f.label :téléphone %>
    <%= f.text_field :téléphone,  class: "form-control" , autofocus: true %>
  </div>


  <div class="form-group">
    <%=  f.label :adresse %>
    <%= f.text_field :adresse,  class: "form-control" , autofocus: true %>
  </div>
  <div class="form-group">
    <div class="col-sm-2 control-label" >
      <%=  f.label :code_postal %>
    </div>
    <div class="col-sm-8" >
      <%= f.text_field :code_postal,  class: "form-control" , placeholder: "enter code postal", autofocus: true %>
    </div>
  </div>

  <div class="field">
    <%= f.label "sexe" %><br />
    <div class="controls">
      <%= f.select(:sexe, options_for_select([['Monsieur','Monsieur'],['Madame','Madame']])) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2 control-label" >

    </div>
    <div class="col-sm-8" >
      <%= f.text_field :matriculeFiscale,  class: "form-control" , placeholder: "enter matriculeFiscale", autofocus: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2 control-label" >
      <%=  f.label :description %>
    </div>
    <div class="col-sm-8" >
      <%= f.text_field :description,  class: "form-control" , placeholder: "enter description", autofocus: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2 control-label" >
      <%=  f.label :nomSociete %>
    </div>
    <div class="col-sm-8" >
      <%= f.text_field :nomSociete,  class: "form-control" , placeholder: "enter nomSociete", autofocus: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2 control-label" >
      <%=  f.label :numFournisseur %>
    </div>
    <div class="col-sm-8" >
      <%= f.text_field :numFournisseur,  class: "form-control" , placeholder: "enter le numéro fournisseur", autofocus: true %>
    </div>
  </div>
  <div class="field">
    <%= f.label "Status" %><br />
    <div class="controls">
      <%= f.select(:status, options_for_select([['enAttente','enAttente'],['accepté','accepté'],['refusé','refusé']])) %>
    </div>
  </div>
  <div class="field">
    <%= f.label "Role" %><br />
    <div class="controls">
      <%= f.select(:roles, options_for_select([['fournisseur','fournisseur'],['client','client'],['admin','admin']])) %>
    </div>
  </div>




  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>



<%= link_to "Back", :back %>
