<% if user_signed_in? %>
  <%if current_user.roles == "admin" %>

<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="x-ua-compatible" content="ie=edge">

      <title>AdminLTE 3 | Dashboard 2</title>

      <!-- Font Awesome Icons -->
      <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
      <!-- overlayScrollbars -->
      <link rel="stylesheet" href="/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">
      <!-- Google Font: Source Sans Pro -->
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <%= render 'user/headerAdmin' %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%= render 'user/sideBarAdmin' %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Produit</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/admin/#">Home</a></li>
                  <li class="breadcrumb-item active">Ajout d'un produit</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-6">
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Ajout d'un nouveau produit</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <%= form_with model: @commande, :html => {:class => 'form-horizontal' } ,local: true do |f| %>
                    <% if @commande.errors.any? %>
                      <div class="alert alert-primary" role="alert">
                        <%= pluralize(@commande.errors.count, "error") %> prohibited
                        this article from being saved:
                      </div>
                      <div id="error_explanation">

                        <ul>
                          <% @commande.errors.full_messages.each do |msg| %>
                            <div class="alert alert-danger" role="alert">
                              <%= msg %>
                            </div>

                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="card-body">
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Nom produit</label>

                        <div class="col-sm-10">

                          <%= f.text_field :etat , :class => 'form-control' %>
                        </div>
                      </div>



                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <%= f.submit 'Valider', :class => 'btn btn-info' %>
                      <button type="submit" class="btn btn-default float-right">Annuler</button>
                    </div>
                    <!-- /.card-footer -->

                  <%end %>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- /.content -->

      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->

      <!-- Main Footer -->

    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/admin/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="/admin/dist/js/demo.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="/admin/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/admin/plugins/raphael/raphael.min.js"></script>
    <script src="/admin/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="/admin/plugins/jquery-mapael/maps/world_countries.min.js"></script>
    <!-- ChartJS -->
    <script src="/admin/plugins/chart.js/Chart.min.js"></script>

    <!-- PAGE SCRIPTS -->
    <script src="/admin/dist/js/pages/dashboard2.js"></script>
    </body>
    </html>
    <%else %>
<%= render 'layouts/navigation' %>
<!--================Header Menu Area =================-->
<div class = 'row'>
<div class= 'col-xs-12'>
<%= form_for @commande do |f| %>
  <div class="form-group">
    <div class="col-sm-2 control-label" >
        <%=  f.label :etat %>
    </div>    
    <div class="col-sm-8" >
      <%= f.text_field :etat,  class: "form-control" , placeholder: "etat commande", autofocus: true %>
    </div>
  </div>
  <div class="form-group">
   <div class="col-sm-2 control-label" >
      <%=  f.label :quantite %>
    </div>  
     <div class="col-sm-8" >
      <%= f.text_field :quantite, rows: 10, class: "form-control", placeholder: "quantité"  %>
    </div>
  </div>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10" >
     <%= f.submit class: 'btn btn-primary btn-lg' %>
    </div>
  </div>  
<% end %>
<div class="col-xs-4 col-xs-offset-4">
</div>
</div>
</div> 



<!--================Home Banner Area =================-->

<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->

<!--================End Product Description Area =================-->
<%= render 'layouts/footer' %>  
<%end %>
<%end %>