<% if user_signed_in? %>
  <% if current_user.roles == "admin" %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>AdminLTE 3 | Dashboard 2</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- Navbar -->
  <%= render 'user/headerAdmin' %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%= render 'user/sideBarAdmin' %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Produit</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/#">Home</a></li>
              <li class="breadcrumb-item active">Ajout d'un produit</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Ajout d'un nouveau produit</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <%= form_with model: @produit, :html => {:class => 'form-horizontal' } ,local: true do |f| %>
                <% if @produit.errors.any? %>
                  <div class="alert alert-primary" role="alert">
                    <%= pluralize(@produit.errors.count, "error") %> prohibited
                    this article from being saved:
                  </div>
                  <div id="error_explanation">

                    <ul>
                      <% @produit.errors.full_messages.each do |msg| %>
                        <div class="alert alert-danger" role="alert">
                          <%= msg %>
                        </div>

                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Nom produit</label>

                    <div class="col-sm-10">

                      <%= f.text_field :nomProduit , :class => 'form-control' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Prix de produit</label>

                    <div class="col-sm-10">

                      <%= f.text_field :prix , :class => 'form-control' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">quantité de stock</label>

                    <div class="col-sm-10">

                      <%= f.text_field :qteStock , :class => 'form-control' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Marque de produit</label>

                    <div class="col-sm-10">

                      <%= f.text_field :marque , :class => 'form-control' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label" placeholder="met un 0 si il'ya pas de remise sur le produit">Remise en %</label>

                    <div class="col-sm-10">

                      <%= f.text_field :remise , :class => 'form-control' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label>Catégorie de produit</label>

                    <% options = options_from_collection_for_select(Categorie.all, 'id', 'nomCategorie') %>
                    <%= f.select :categorie_id,  options  %>



                  </div>

                  <div class="form-group">
                    <label for="exampleInputFile"><p>  Image de produit</p> </label>
                    <div class="input-group">

                      <div class="input-group-append">
                        <%= f.file_field :image , :class => 'custom-file' %>

                      </div>
                    </div>
                  </div>
                </div>

                <%if current_user.roles == "fournisseur" %>
                  <div class="form-group">
                    <label for="exampleInputFile"><p>  Image de produit</p> </label>
                    <div class="input-group">

                      <div class="input-group-append">
                        <%= f.hidden_field :user_id ,value: current_user.id  , :class => 'custom-file' %>

                      </div>
                    </div>
                  </div>
                <%end %>
                <%if current_user.roles == "admin" %>
                  <div class="form-group">

                    <% options = options_from_collection_for_select(User.where(roles: "fournisseur").all, 'id', 'Name') %>
                    <%= f.select :user_id,  options  %>


                  </div>
                <%end %>
                <!-- /.card-body -->
                <div class="card-footer">
                  <%= f.submit 'Valider', :class => 'btn btn-info' %>
                  <button type="submit" class="btn btn-default float-right">Annuler</button>
                </div>
                <!-- /.card-footer -->

              <%end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- /.content -->

  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin/dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="/admin/dist/js/demo.js"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="/admin/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="/admin/plugins/raphael/raphael.min.js"></script>
<script src="/admin/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/admin/plugins/jquery-mapael/maps/world_countries.min.js"></script>
<!-- ChartJS -->
<script src="/admin/plugins/chart.js/Chart.min.js"></script>

<!-- PAGE SCRIPTS -->
<script src="/admin/dist/js/pages/dashboard2.js"></script>
</body>
</html>

  <%elsif current_user.roles == "fournisseur"%>

    <!DOCTYPE html>
    <html lang="en">

    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <link rel="icon" href="/img/favicon.png" type="image/png" />
      <title>Eiser ecommerce</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/css/bootstrap.css" />
      <link rel="stylesheet" href="/vendors/linericon/style.css" />
      <link rel="stylesheet" href="/css/font-awesome.min.css" />
      <link rel="stylesheet" href="/css/themify-icons.css" />
      <link rel="stylesheet" href="/css/flaticon.css" />
      <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css" />
      <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css" />
      <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
      <link rel="stylesheet" href="/vendors/animate-css/animate.css" />
      <link rel="stylesheet" href="/vendors/jquery-ui/jquery-ui.css" />
      <!-- main css -->
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/css/responsive.css" />
    </head>

    <body>
    <!--================Header Menu Area =================-->
    <%= render 'user/headerClientFour' %>





    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Ajout d'un nouveau produit</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <%= form_with model: @produit, :html => {:class => 'form-horizontal' } ,local: true do |f| %>
                <% if @produit.errors.any? %>
                  <div class="alert alert-primary" role="alert">
                    <%= pluralize(@produit.errors.count, "error") %> prohibited
                    this article from being saved:
                  </div>
                  <div id="error_explanation">

                    <ul>
                      <% @produit.errors.full_messages.each do |msg| %>
                        <div class="alert alert-danger" role="alert">
                          <%= msg %>
                        </div>

                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Nom produit</label>

                    <div class="col-sm-10">

                      <%= f.text_field :nomProduit , :class => 'form-control' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Prix de produit</label>

                    <div class="col-sm-10">

                      <%= f.text_field :prix , :class => 'form-control' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">quantité de stock</label>

                    <div class="col-sm-10">

                      <%= f.text_field :qteStock , :class => 'form-control' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Marque de produit</label>

                    <div class="col-sm-10">

                      <%= f.text_field :marque , :class => 'form-control' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label" placeholder="met un 0 si il'ya pas de remise sur le produit">Remise en %</label>

                    <div class="col-sm-10">

                      <%= f.text_field :remise , :class => 'form-control' %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label>Catégorie de produit</label>

                    <% options = options_from_collection_for_select(Categorie.all, 'id', 'nomCategorie') %>
                    <%= f.select :categorie_id,  options  %>



                  </div>

                  <div class="form-group">
                    <label for="exampleInputFile"><p>  Image de produit</p> </label>
                    <div class="input-group">

                      <div class="input-group-append">
                        <%= f.file_field :image , :class => 'custom-file' %>

                      </div>
                    </div>
                  </div>
                  <%if current_user.roles == "fournisseur" %>
                    <div class="form-group">
                      <label for="exampleInputFile"><p>  Image de produit</p> </label>
                      <div class="input-group">

                        <div class="input-group-append">
                          <%= f.hidden_field :user_id ,value: current_user.id  , :class => 'custom-file' %>

                        </div>
                      </div>
                    </div>
                  <%end %>
                  <%if current_user.roles == "admin" %>
                    <div class="form-group">

                      <% options = options_from_collection_for_select(User.where(roles: "fournisseur").all, 'id', 'Name') %>
                      <%= f.select :user_id,  options  %>


                    </div>
                  <%end %>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <%= f.submit 'Valider', :class => 'btn btn-info' %>
                  <button type="submit" class="btn btn-default float-right">Annuler</button>
                </div>
                <!-- /.card-footer -->

              <%end %>
            </div>
          </div>
        </div>
      </div>
    </section>



    <%= render 'user/footerClientFour' %>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/stellar.js"></script>
    <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/vendors/isotope/isotope-min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendors/counter-up/jquery.counterup.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/js/theme.js"></script>
    </body>

    </html>

  <%end %>
<%end %>