<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Eiser ecommerce</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/vendors/linericon/style.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="/vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="/vendors/jquery-ui/jquery-ui.css" />
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>

  <body>
    <!--================Header Menu Area =================-->
    <%= render 'user/headerClientFour' %>
    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Product Details</h2>
              <p>Very us move be blessed multiply night</p>
            </div>
            <div class="page_link">
              <a href="index.html">Home</a>
              <a href="single-product.html">Product Details</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Single Product Area =================-->
    <div class="product_image_area">
      <div class="container">
        <div class="row s_product_inner">
          <div class="col-lg-6">
            <div class="s_product_img">
              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-ride="carousel"> 
                <div class="carousel-inner">
                  <div class="carousel-item active">
                  <%= image_tag(@produit.image , :size => '200x550' , :class => "card-img") if @produit.image.attached? %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
              <h3> DT <%= @produit.nomProduit %></br></h3> </h2>Prix après un remise de <%= @produit.remise %>% :
              <h2>DT<%= @produit.prixApresRemise(@produit) %>
              <h4>Prix sans remise:<class="genric-btn danger"><%= @produit.prix %></a></h4>

              <ul class="list">
                <li>
    
                    <span>Categorie</span> : <%= @produit.categorie.nomCategorie %>
                  
                </li>
                <li>
                   <span>Disponible</span> : 
                                            <% if @produit.qteStock > 0 %>
                                                 Oui
                                             <% else %>
                                                 Non
                                             <% end %>
                
                </li>
              </ul>
              <p>
              <%= @produit.details %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    
    <!--================End Product Description Area =================-->

    <!--================ start footer Area  =================-->
    <%= render 'user/footerClientFour' %>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/stellar.js"></script>
    <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/vendors/isotope/isotope-min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendors/counter-up/jquery.counterup.js"></script>
    <script src="/js/theme.js"></script>
  </body>
</html>
